<div class="center">
  <img src="images/me.png" /><br/><br/>
  Hello my name is Sohyeon. I go by “Irene”.<br/>
  <br/>
  I study computer science in school and I love building and experimenting new technologies.<br/>
  <br/>
  I am passionate about solving problems that can create a value to society.<br/><br/>
  <div class="sns">
    <a href="https://www.facebook.com/sohyeonl00" class="sns-icons" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/sohyeonlee" class="sns-icons" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.github.com/sohyeonlee" class="sns-icons" target="_blank"><i class="fa fa-github"></i></a>
  </div>
</div>
