<div class="center">
  <div class="proj-contents">
    <img src="images/expedia.jpeg" class="proj-img"/>
    <h3><u> Software Engineering Intern at <a href="https://www.expedia.com" target="_blank">Expedia</u></a></h3><br/>
    <h4> What I did </h4>
    During summer of 2015, I worked as an intern at expedia - San Francisco office. I worked closely with Itinerary and Storefront team. I worked on building the API for the next trip information, fetching right data and displaying it on the main page.<br/>
    <br/>
    I also worked on several other projects, such as internal customer service app and internal customer monitoring dashboard page. All my projects are live now.<br/>
<br/>
    <h4> Technology and Lessons I learned </h4>
    I worked mostly with Java Spring framework and little bit of Javascript(with handlebar) with the website. It was my first time building something that millions of users will use, so the importance of test coverage was once again emphasized. Showing that the features I built are actually giving some influence to the company is really amazing. And I had such nice experience with the whole team who were super helpful.
  </div><br/>
  <div class="btn btn-main btn-lg"><a href="www.findridemate.com" target="_blank"><span style="color:white; text-decoration: none">
     Visit Expedia </span></a></div>
</div>
