<div class="center">
  <img src="images/expedia.jpeg"/>
  <h3> Software Engineering Intern at <a href="https://www.expedia.com" target="_blank">Expedia</a></h3>
  <div class="proj-contents">
    During summer of 2015, I worked as an intern at expedia - San Francisco office.I worked in Itinerary team and worked on configuring the API and fetching next trip information on the main page.<br/>
      <br/>
      The feature is live right now and will be shown to people having upcoming trips.<br/>
      <br/>
      I also worked on several other projects.<br/>
  </div>
</div>
