
<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12 center">
    <a href="#/ridemate">
      <img src="images/ridemate.png" class="portfolio"/>
    </a>
    <br/>
    <h4>Ridemate</h4>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 center">
    <a href="#/miisik">
      <img src="images/miisik.png" class="portfolio"/>
    </a>
    <br/>
    <h4>Miisik</h4>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 center">
    <a href="#/expedia">
      <img src="images/expedia.jpeg" class="portfolio"/>
    </a>
    <br/>
    <h4>Expedia</h4>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 center">
    <a href="#/tastehome">
      <img src="images/placeholder.png"/>
    </a>
    <br/>
    <h4>Tastehome</h4>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 center">
    <a href="#/pickeat">
      <img src="images/placeholder.png"/>
    </a>
    <br/>
    <h4>PickEat</h4>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 center">
    <a href="#/cs61as-quiz-system">
      <img src="images/placeholder.png"/>
    </a>
    <br/>
    <h4> CS61AS Quiz System </h4>
  </div>
</div>
