
<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12 center">
    <img src="images/ridemate.png" class="portfolio"/>
    <br/>
    Ridemate
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 center">
    <img src="images/miisik.png" class="portfolio"/>
    <br/>
    Miisik
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 center">
    <img src="images/expedia.jpeg" class="portfolio"/>
    <br/>
    Expedia
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 center">
    <img src="images/placeholder.png"/>
    <br/>
    Tastehome
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 center">
    <img src="images/placeholder.png"/>
    <br/>
    PickEat
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 center">
    <img src="images/placeholder.png"/>
    <br/>
    one
  </div>
</div>
