
<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12 center">
    <div class="card">
      <div class="card-img">
        <a href="#/ridemate">
          <img src="images/ridemate.png" class="portfolio"/>
        </a>
      </div>
      <div class="card-content">
        <h4>Ridemate</h4>
        <h5 style="font-weight: normal">Ride matching application for college students</h5>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 center">
    <div class="card">
      <a href="#/miisik">
        <img src="images/miisik.png" class="portfolio"/>
      </a>
      <br/>
      <h4>Miisik</h4>
      <h5 style="font-weight: normal">Ride matching application for college students</h5>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 center">
    <div class="card">
      <a href="#/expedia">
        <img src="images/expedia.jpeg" class="portfolio"/>
      </a>
      <br/>
      <h4>Expedia</h4>
      <h5 style="font-weight: normal">Ride matching application for college students</h5>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 center">
    <div class="card">
      <a href="#/tastehome">
        <img src="images/tastehome.png" class="portfolio"/>
      </a>
      <br/>
      <h4>Tastehome</h4>
      <h5 style="font-weight: normal">Ride matching application for college students</h5>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 center">
    <div class="card">
      <a href="#/pickeat">
        <img src="images/pickeat-b.png" class="portfolio"/>
      </a>
      <br/>
      <h4>PickEat</h4>
      <h5 style="font-weight: normal">Ride matching application for college students</h5>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 center">
    <div class="card">
      <a href="#/cs61as-quiz-system">
        <img src="images/cs.png" class="portfolio"/>
      </a>
      <br/>
      <h4> CS61AS Quiz System </h4>
      <h5 style="font-weight: normal">Ride matching application for college students</h5>
    </div>
  </div>
</div>
