<div class="center">
  <div class="proj-contents">
    <img src="images/miisik.png" class="proj-img"/>
    <h3><u> Miisik - Korean style ready-to-cook meal kit </u></h3><br/>
    <h4> What is Miisik? </h4>
    Miisik is a Korean style meal kit that lets you cook delicious and healthy meal within 15 minutes. We operated in Bay Area where many people could not afford time to cook since they were too busy. <br/>
    <h4> What was it like </h4>
    <img src="images/miisik-d.png" class="proj-img"/>
  </div>
  will be updated with more information!
  <div class="btn btn-main btn-lg"><a href="http://www.miisik.com" target="_blank"><span style="color:white; text-decoration: none !important;">Visit Miisik </span></a></div>
